<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAimJJLl75TbKDVzMdNSK8mUT757M37zZY</string>
	<key>GCM_SENDER_ID</key>
	<string>938657563478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyb.SwiftNote-AI</string>
	<key>PROJECT_ID</key>
	<string>swiftnote-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftnote-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938657563478:ios:86bd15fbe86f04d5700cf7</string>
</dict>
</plist>